:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    --table-border-color: #E1E1E1;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    position: relative;
}

header .languages {
    position: absolute;
    top: 0;
    right: 0;
}

header .enter-or-register-box {
    position: absolute;
    top: 32px;
    right: 0;
}

header nav {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.75rem 0.25rem;
    margin-top: 1rem;
    font-size: 0.84rem;
}

header nav .search {
    position: absolute;
    top: 0;
    right: 0;
}

header nav form input {
    border: 1px solid var(--border-color);
    outline-color: cornflowerblue;
    font-size: 0.8rem;
    font-family: Verdana, sans-serif;
    height: 1rem;
    width: 10rem;
    padding: 0.09rem 0.2rem 0.1rem 1.1rem;
    margin: 0.65rem 0.5rem 0 0;
    background: #f4f4f4 url(https://sta.codeforces.com/s/18309/images/search-16x16.png) 0.1rem 0.1rem no-repeat;
    background-size: 8%;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.middle {
    margin-top: 1rem;
    overflow: auto;
}

aside {
    float: right;
    width: 20rem;
}

main {
    margin-right: 21rem;
    font-size: 0.88rem;
}

main .login-form-box {
    position: relative;
    width: 28rem;
    height: 15rem;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    text-align: right;
    display: table;
}

main .header {
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
    font-size: 1rem;
    color: var(--caption-color);
    padding: 0.2rem 0.2rem 0.2rem 0.4rem;
}

main .field {
    position: relative;
    display: inline-block;
}

main .field .value  {
    padding: 1.2rem 2.5rem 0 0.4rem;
    display: inline-table;
}

main .field .value input {
    padding: 0.1rem 0 0.1rem 2.2rem;
    border: 1px solid var(--border-color);
    display: inline-table;
}

main .field .name {
    padding: 1.2rem 0 0 0.4rem;
    display: inline-table;
    vertical-align: top;
}

main .field .error {
    position: absolute;
    top: 2.6rem;
    left: 5.25rem;
    color: #FF004F;
    font-size: 0.6rem;
    margin-right: 3rem;
    text-align: center;
}

main .checkbox-field {
    position: absolute;
    top: 9rem;
    left: 11rem;
    font-size: 0.6rem;
}

main .checkbox-field input {
    visibility:hidden;
}

main .checkbox-field input[type="checkbox"] + label:before {
    border: 0.07rem solid #AAAAAA;
    content: "\00a0";
    display: inline-block;
    height: 0.5rem;
    margin: 0 0.2rem 0 0;
    border-radius: 2px;
    width: 0.5rem;
    background-image : linear-gradient(180deg, rgb(250,250,250) 2%, rgb(220,220,220) 40%);
}

main .checkbox-field input[type="checkbox"]:checked + label:before {
    color: white;
    background-color: blue;
    content: "\2714";
    /*text-align: center;*/
}

main .button-field {
    position: absolute;
    top: 11.5rem;
    left: 12rem;
    /*padding: 0.2rem 0 0.2rem 0.2rem;*/
    /*text-align: center;*/
}

main .button-field input {
    padding: 0.1rem 1rem 0.05rem 1rem;
    font-size: 0.8rem;
    background-image : linear-gradient(180deg, rgb(250,250,250) 7%, rgb(235,235,235) 40%);
    border: 0.07rem solid #888888;
}

main .links {
    position: absolute;
    bottom: 1.1rem;
    right: 0;
    font-size: 0.6rem;
    padding: 0.2rem 0.3rem 0.2rem 0.4rem;
    text-align: right;
}

main .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.6rem;
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding: 0.2rem 0 0.2rem 0;
}

main .footer a {
    padding-right: 0.4rem;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
    text-align: center;
}

aside section {
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

aside section .header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color);
}

aside section .header:before {
    content: "→";
}

aside section .body {
    padding: 1rem;
}

aside section .footer {
    border-top: 1px solid var(--border-color);
    overflow: auto;
    padding: 0.25rem;
}

aside section .footer a {
    float: right;
    font-size: 0.75rem;
}

aside section .footer a:after {
    content: " →";
}
